.synthesizer {
    margin: 5rem;
    border-radius: 20px;
    padding: 15px 40px;
    background: linear-gradient(#c28bbb, #be66b3 96%, #99448f);
    border: 2px solid black;
    box-shadow: 5px 5px 10px #00000080;
    /* box-shadow: 5px 5px 10px #4b914880; */
}